@import "https://fonts.googleapis.com/css?family=Poppins";

$font-family-text: 'poppins',Helvetica,Arial,sans-serif;

$light: #ffffff;
$dark: #000000;
$grey: #9e9e9e;
$main_blue: #195ec8;
$dark_blue: #385bce;
