<!-- <footer class="footer">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer> -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.4.1/packaged/jquery.noty.packaged.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>

<script type="text/javascript" src="/js/scripts.js"></script>
<script>
    function logout() {
        localStorage.removeItem("user");
        window.location.href = "/login";
    }

    //Adding new Level to Database
    function createLevel() {
        var questionLenght = $(".form-group").find(".form-control").length;
        var internalLenght = 1;
        var essaylenght = 1;
        var tasks = [];
        var tempTask = [];
        new Promise(function (resolve, reject) {
            for (var count = 1; count < questionLenght; count++) {
                if (internalLenght >= 9) {
                    tempTask.push($(".form-group").find(".form-control")[count].value);
                    tasks.push(tempTask);
                    //Reinit
                    tempTask = [];
                    internalLenght = 0;
                } else {
                    tempTask.push($(".form-group").find(".form-control")[count].value);
                }
                internalLenght++;
            }

            tempTask = [];
            // tempTask.push($(".form-group").find(".form-control")[72].value);
            tempTask.push($(".form-group").find(".form-control")[73].value);
            tempTask.push(null);
            tempTask.push(null);
            tempTask.push(null);
            tempTask.push($(".form-group").find(".form-control")[74].value);
            tempTask.push(null);
            tempTask.push($(".form-group").find(".form-control")[75].value);
            tempTask.push($(".form-group").find(".form-control")[76].value);
            tempTask.push($(".form-group").find(".form-control")[77].value);
            tasks.push(tempTask);

            resolve(tasks);
        }).then(function (taskPayload) {
            var description = $("#description").val();
            var payload = {
                taskPayload,
                description
            }
            $.ajax({
                type: 'POST',
                url: 'https://schoolapi.eueplus.eu/teacher/levelCreate',
                data: JSON.stringify(payload),
                contentType: "application/json",
                headers: { "authorization": JSON.parse(localStorage.getItem("user")).token },
                dataType: 'json',
                success: function (response) {
                    if (typeof response.result != 'undefined' && response.result.length > 0) {
                        if (response.result === "OK") {
                            $(".teacher-task-container").css("pointer-events", "none");
                            $(".teacher-task-container").css("opacity", "0.4");
                            noty({ text: 'Level has been added successfully', layout: 'bottomRight', type: 'success', timeout: 2000, progressBar: true });
                            setTimeout(() => {
                                window.location.href = "/teacher/create/level";
                            }, 2500)
                        }
                    } else {
                        noty({ text: response.status, layout: 'bottomRight', type: 'error', timeout: 2000, progressBar: true });
                    }
                }
            });
        });
    }
</script>
</body>

</html>