 {{> session}}
 
<div class="container-fluid outer" id="pick">
    <a href="/pick">
        <div class="inner">
            <h1>EE</h1>
        </div>
    </a>
    <a href="/pick">
        <div class="inner">
            <h1>IT</h1>
        </div>
    </a>
    <a href="/pick">
        <div class="inner">
            <h1>BG</h1>
        </div>
    </a>
    <a href="/pick">
        <div class="inner">
            <h1>MK</h1>
        </div>
    </a>
</div>

