 {{> session}}
<div class="container-fluid outer pick" id="between">
    <a href="/login">
        <div class="inner">
            <h1>Student</h1>
        </div>
    </a>
    <a href="/login">
        <div class="inner">
            <h1>Teacher</h1>
        </div>
    </a>
</div>