{{> header}}

<nav class="navbar navbar-expand-lg navbar-light teacher-layout-nav">
    <a class="navbar-brand" href="/">School</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/teacher/create/class">Create Class</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacher/classes/list">Classes List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacher/create/level">Create Levels</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacher/levels/list">Levels List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacher/companies">Company List</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/teacher/results">Results</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacher/internship">Report</a>
            </li>
            <li class="nav-item">
                <a class="nav-link user-login" onclick="logout()">
                    <i class="fas fa-user-circle"></i> Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container teacher-container">
    <div class="row">
        <div class="col-sm-12 teacher-heading text-center">
            <h1>Results Of Each Level</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 teacher-heading text-center">
            <button data-toggle='modal' data-target='#internshipModal' data-dismiss="modal" onclick="getAllCompanies()"
                class="create-class-submit">Internship</button>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-pills mb-5" id="pills-tab" role="tablist">
                        <li onclick="getLevel(this)" level_number="1" class="nav-item">
                            <a class="nav-link active" id="level1-tab" data-toggle="pill" href="#level1" role="tab"
                                aria-controls="level1" aria-selected="true">Level 1</a>
                        </li>
                        <li onclick="getLevel(this)" level_number="2" class="nav-item">
                            <a class="nav-link" id="level2-tab" data-toggle="pill" href="#level2" role="tab"
                                aria-controls="level2" aria-selected="false">Level 2</a>
                        </li>
                        <li onclick="getLevel(this)" level_number="3" class="nav-item">
                            <a class="nav-link" id="level3-tab" data-toggle="pill" href="#level3" role="tab"
                                aria-controls="level3" aria-selected="false">Level 3</a>
                        </li>
                        <li onclick="getLevel(this)" level_number="4" class="nav-item">
                            <a class="nav-link" id="level4-tab" data-toggle="pill" href="#level4" role="tab"
                                aria-controls="level4" aria-selected="true">Level 4</a>
                        </li>
                        <li onclick="getLevel(this)" level_number="5" class="nav-item">
                            <a class="nav-link" id="level5-tab" data-toggle="pill" href="#level5" role="tab"
                                aria-controls="level5" aria-selected="false">Level 5</a>
                        </li>
                        <li onclick="getLevel(this)" level_number="6" class="nav-item">
                            <a class="nav-link" id="level6-tab" data-toggle="pill" href="#level6" role="tab"
                                aria-controls="level6" aria-selected="false">Level 6</a>
                        </li>
                        <li onclick="getLevel(this)" level_number="7" class="nav-item">
                            <a class="nav-link" id="level7-tab" data-toggle="pill" href="#level7" role="tab"
                                aria-controls="level7" aria-selected="true">Level 7</a>
                        </li>
                        <li onclick="getLevel(this)" level_number="8" class="nav-item">
                            <a class="nav-link" id="level8-tab" data-toggle="pill" href="#level8" role="tab"
                                aria-controls="level8" aria-selected="false">Level 8</a>
                        </li>
                        <li onclick="getLevel(this)" level_number="9" class="nav-item">
                            <a class="nav-link" id="level9-tab" data-toggle="pill" href="#level9" role="tab"
                                aria-controls="level9" aria-selected="false">Level 9</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <div class="tab-content company-tabs" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="level1" role="tabpanel" aria-labelledby="level1-tab">
                            <div class="card">
                                <div class="card-header" id="levelheading1">
                                    <h5 class="mb-0">Results of Level 1</h5>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Answer</th>
                                                <th scope="col">Points</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Time</th>
                                                <th scope="col">Teacher</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="level_result_1">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="level2" role="tabpanel" aria-labelledby="level2-tab">
                            <div class="card">
                                <div class="card-header" id="levelheading2">
                                    <h5 class="mb-0">Results of Level 2</h5>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Answer</th>
                                                <th scope="col">Points</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Time</th>
                                                <th scope="col">Teacher</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="level_result_2">

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="level3" role="tabpanel" aria-labelledby="level3-tab">
                            <div class="card">
                                <div class="card-header" id="levelheading3">
                                    <h5 class="mb-0">Results of Level 3</h5>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Answer</th>
                                                <th scope="col">Points</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Time</th>
                                                <th scope="col">Teacher</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="level_result_3">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="level4" role="tabpanel" aria-labelledby="level4-tab">
                            <div class="card">
                                <div class="card-header" id="levelheadin4">
                                    <h5 class="mb-0">Results of Level 4</h5>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Answer</th>
                                                <th scope="col">Points</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Time</th>
                                                <th scope="col">Teacher</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="level_result_4">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="level5" role="tabpanel" aria-labelledby="level5-tab">
                            <div class="card">
                                <div class="card-header" id="levelheading5">
                                    <h5 class="mb-0">Results of Level 5</h5>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Answer</th>
                                                <th scope="col">Points</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Time</th>
                                                <th scope="col">Teacher</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="level_result_5">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="level6" role="tabpanel" aria-labelledby="level6-tab">
                            <div class="card">
                                <div class="card-header" id="levelheading6">
                                    <h5 class="mb-0">Results of Level 6</h5>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Answer</th>
                                                <th scope="col">Points</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Time</th>
                                                <th scope="col">Teacher</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="level_result_6">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="level7" role="tabpanel" aria-labelledby="level7-tab">
                            <div class="card">
                                <div class="card-header" id="levelheading7">
                                    <h5 class="mb-0">Results of Level 7</h5>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Answer</th>
                                                <th scope="col">Points</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Time</th>
                                                <th scope="col">Teacher</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="level_result_7">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="level8" role="tabpanel" aria-labelledby="level8-tab">
                            <div class="card">
                                <div class="card-header" id="levelheading8">
                                    <h5 class="mb-0">Results of Level 8</h5>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Answer</th>
                                                <th scope="col">Points</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Time</th>
                                                <th scope="col">Teacher</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="level_result_8">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="level9" role="tabpanel" aria-labelledby="level9-tab">
                            <div class="card">
                                <div class="card-header" id="levelheading9">
                                    <h5 class="mb-0">Results of Level 9</h5>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Answer</th>
                                                <th scope="col">Points</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Time</th>
                                                <th scope="col">Teacher</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="level_result_9">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="internshipModal" tabindex="-1" role="dialog" aria-labelledby="internshipModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="internshipModalLabel">Internship Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label> Select Company </label>
                <br>
                <select style="width:100% !important;">
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button data-dismiss="modal" onclick="assign()" class="btn btn-primary">Assign</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="essayModal" tabindex="-1" role="dialog" aria-labelledby="essayModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card text-white bg-primary mb-3" style="max-width: 100%;">
                    <div class="card-body">
                        <p class="card-text"> </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Please Enter Grade</label>
                    <input type="grade" class="form-control" id="grade" aria-describedby="emailHelp">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="givePoint()" class="btn btn-primary">Give Point</button>
            </div>
        </div>
    </div>
</div>



{{> footer}}
<script>
    var activeLevel = undefined;
    var url_string = window.location.href;
    var url = new URL(url_string);
    var student_id = url.searchParams.get("id");
    var urlLevelNumber = url.searchParams.get("urlLevelNumber");
    var level_number = 1;

    if (urlLevelNumber !== '1') {
        $("#level" + urlLevelNumber + "-tab").click();
    } else {
        fetchData();
    }

    function getLevel(element) {
        activeLevel = $(element).attr('level_number');
        $("#level_result_" + $(element).attr('level_number')).html("");
        level_number = $(element).attr('level_number');
        var levelData = {
            level_number: level_number,
            student_id: student_id
        }
        $.ajax({
            type: 'POST',
            url: 'https://schoolapi.eueplus.eu/teacher/getStudentAnswers',
            data: levelData,
            headers: { "Authorization": JSON.parse(localStorage.getItem("user")).token },
            dataType: 'json',
            success: function (response) {
                if (typeof response.result != 'undefined' && response.result.length > 0) {
                    $.each(response.result, function (index) {
                        if (index === 8 && response.result[index].status === "Pending") {
                            $("#level_result_" + level_number).append("<tr><th scope='col'>" + "<b>Essay<b>" + "</th><th scope='col'>" + response.result[index].score + "</th><th class='text-warning' scope='col'>" + response.result[index].status + "</th><th scope='col'>" + response.result[index].time + "</th><th scope='col'>" + response.result[index].teacher_name + "</th><th scope='col'><a onclick='getEssay()' data-toggle='modal' data-target='#essayModal'><i style='color: black! important;' class='fas fa-edit'></i></a></th></tr>");
                        }
                        else if (index === 8 && response.result[index].status === "Passed") {
                            $("#level_result_" + level_number).append("<tr><th scope='col'>" + "<b>Essay<b>" + "</th><th scope='col'>" + response.result[index].score + "</th><th class='text-success' scope='col'>" + response.result[index].status + "</th><th scope='col'>" + response.result[index].time + "</th><th scope='col'>" + response.result[index].teacher_name + "</th><th scope='col'></th></tr>");
                        }
                        else {
                            if (response.result[index].status === "Passed") {
                                $("#level_result_" + level_number).append("<tr><th scope='col'>" + response.result[index].answer + "</th><th scope='col'>" + response.result[index].score + "</th><th class='text-success' scope='col'>" + response.result[index].status + "</th><th scope='col'>" + response.result[index].time + "</th><th scope='col'>" + response.result[index].teacher_name + "</th><th scope='col'></th></tr>");
                            } else {
                                $("#level_result_" + level_number).append("<tr><th scope='col'>" + response.result[index].answer + "</th><th scope='col'>" + response.result[index].score + "</th><th class='text-danger' scope='col'>" + response.result[index].status + "</th><th scope='col'>" + response.result[index].time + "</th><th scope='col'>" + response.result[index].teacher_name + "</th><th scope='col'></th></tr>");
                            }

                        }
                    });
                } else {

                }
            }
        });
    }

    // Essay Grade 
    function getEssay() {
        var levelData = {
            level_number: activeLevel,
            student_id: student_id,
        }
        $.ajax({
            type: 'POST',
            url: 'https://schoolapi.eueplus.eu/teacher/getEssay',
            data: levelData,
            headers: { "Authorization": JSON.parse(localStorage.getItem("user")).token },
            dataType: 'json',
            success: function (response) {
                if (typeof response.result != 'undefined' && response.result.length > 0) {
                    $(".card-text").text(response.result[0].answer);
                } else {

                }
            }
        });
    }

    // Essay Grade
    function givePoint() {
        var levelData = {
            level_number: level_number,
            student_id: student_id,
            point: $('#grade').val()
        }
        $.ajax({
            type: 'POST',
            url: 'https://schoolapi.eueplus.eu/teacher/giveEssayPoint',
            data: levelData,
            headers: { "Authorization": JSON.parse(localStorage.getItem("user")).token },
            dataType: 'json',
            success: function (response) {
                if (typeof response.result != 'undefined' && response.result.length > 0) {
                    location.reload();
                } else {

                }
            }
        });
    }

    function fetchData() {
        $("#level_result_1").html("");
        var level_number = 1;
        activeLevel = 1;
        var levelData = {
            level_number: level_number,
            student_id: student_id
        }
        $.ajax({
            type: 'POST',
            url: 'https://schoolapi.eueplus.eu/teacher/getStudentAnswers',
            data: levelData,
            headers: { "Authorization": JSON.parse(localStorage.getItem("user")).token },
            dataType: 'json',
            success: function (response) {
                if (typeof response.result != 'undefined' && response.result.length > 0) {
                    $.each(response.result, function (index) {
                        if (index === 8 && response.result[index].status === "Pending") {
                            $("#level_result_" + level_number).append("<tr><th scope='col'>" + "<b>Essay<b>" + "</th><th scope='col'>" + response.result[index].score + "</th><th class='text-warning' scope='col'>" + response.result[index].status + "</th><th scope='col'>" + response.result[index].time + "</th><th scope='col'>" + response.result[index].teacher_name + "</th><th scope='col'><a onclick='getEssay()' data-toggle='modal' data-target='#essayModal'><i style='color: black! important;' class='fas fa-edit'></i></a></th></tr>");
                        }
                        else if (index === 8 && response.result[index].status === "Passed") {
                            $("#level_result_" + level_number).append("<tr><th scope='col'>" + "<b>Essay<b>" + "</th><th scope='col'>" + response.result[index].score + "</th><th class='text-success' scope='col'>" + response.result[index].status + "</th><th scope='col'>" + response.result[index].time + "</th><th scope='col'>" + response.result[index].teacher_name + "</th><th scope='col'></th></tr>");
                        }
                        else {
                            if (response.result[index].status === "Passed") {
                                $("#level_result_" + level_number).append("<tr><th scope='col'>" + response.result[index].answer + "</th><th scope='col'>" + response.result[index].score + "</th><th class='text-success' scope='col'>" + response.result[index].status + "</th><th scope='col'>" + response.result[index].time + "</th><th scope='col'>" + response.result[index].teacher_name + "</th><th scope='col'></th></tr>");
                            } else {
                                $("#level_result_" + level_number).append("<tr><th scope='col'>" + response.result[index].answer + "</th><th scope='col'>" + response.result[index].score + "</th><th class='text-danger' scope='col'>" + response.result[index].status + "</th><th scope='col'>" + response.result[index].time + "</th><th scope='col'>" + response.result[index].teacher_name + "</th><th scope='col'></th></tr>");
                            }

                        }
                    });
                } else {

                }
            }
        });
    }

    $('i').tooltip();
    function getAllCompanies() {
        $('select').empty();
        $.ajax({
            type: 'POST',
            url: 'https://schoolapi.eueplus.eu/teacher/companyList',
            headers: { "authorization": JSON.parse(localStorage.getItem("user")).token },
            dataType: 'json',
            success: function (response) {
                $.each(response.result, function (value, key) {
                    $("select").append($("<option></option>")
                        .attr("value", key.company_id).text(key.name));
                });
            },
            error: function (err) {
                noty({ text: err.responseJSON, layout: 'bottomRight', type: 'error', timeout: 2000, progressBar: true });
            }
        });
    }

    function assign(studentID) {
        var internData = {
            student_id: student_id,
            company_id: $("select").val()
        };
        $.ajax({
            type: 'POST',
            url: 'https://schoolapi.eueplus.eu/teacher/internshipCreate',
            data: internData,
            headers: { "Authorization": JSON.parse(localStorage.getItem("user")).token },
            dataType: 'json',
            success: function (response) {
                if (typeof response.result != 'undefined' && response.result.length > 0) {
                    if (response.result === 'OK') {
                        noty({ text: `The student's Intership was added successfully`, layout: 'bottomRight', type: 'success', timeout: 2000, progressBar: true });
                        setTimeout(function () {
                            window.location.href = "/teacher/results";
                        }, 2500);
                    }
                } else {
                    noty({ text: response.status, layout: 'bottomRight', type: 'error', timeout: 2000, progressBar: true });
                }
            }
        });
    }
</script>