{{> header}}

<nav class="navbar navbar-expand-lg navbar-light teacher-layout-nav">
    <a class="navbar-brand" href="/">School</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/superadmin/teachers">Teachers</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/superadmin/manage/levels">Manage Levels</a>
            </li>
            <li class="nav-item">
                <a class="nav-link user-login" onclick="logout()">
                    <i class="fas fa-user-circle"></i> Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container teacher-container">
    <div class="row">
        <div class="col-sm-12 teacher-heading text-center">
            <h1> MANAGE LEVELS </h1>
        </div>
    </div>

    <div class="teacher-create-class-container">
        <a data-toggle="modal" data-target="#dropTable"> 
        <ul class="flex-container teacher-classes-list">
            <li class='flex-item drop_button'>
               <h4> DROP LEVELS </h4>
            </li>
            <li class='flex-item drop_button'>
                <h4> DROP ANSWERS </h4>
            </li>
            <li class='flex-item drop_button'>
                <h4> DROP STUDENTS </h4>
            </li>
        </ul></a>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="dropTable" tabindex="-1" role="dialog" aria-labelledby="dropTable" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dropTable">Drop Table</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Please enter <b> superadmin </b> password</label>
                    <input type="password" id="firstname" name="firstname" class="form-control" placeholder="Password">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button onclick="addTeacher()" class="btn btn-danger">DROP</button>
            </div>
        </div>
    </div>
</div>

{{> footer}}